/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	max-width: 1920px;
	width: 100%;
	margin: auto;
}

html{
	scroll-behavior: smooth;
	font-family: 'Roboto Mono', monospace;
}

/* navbar */
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.logo1{
	margin: 10px 0px 5px 40px;
	width: 40px;
}
.logo2{
	margin: 10px 0px 5px 9px;
	width: 40px;
}
.logo3{
	margin: 10px 0px 5px 9px;
	margin-right: auto;
	width: 40px;
}
.navbar a{
	color: white;
	text-decoration-color: white;
	margin: 10px 40px 10px 40px;
	height: fit-content;
}
.navbar a:hover{
	background: white;
	color: black;
	text-decoration-color: black;
}
.navbar{
	display: flex;
	justify-content: flex-end;
}

/* hero */
#hero{
	background-color: black;
    color: white;
}
.hero{
	background-image: url('../assets/hero.png');
	height: 800px;
	width: auto;
	background-position: bottom left;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero-img{
	position: static;
	height: auto;
	width: 100%;
}
.hero-title{
    position: relative;
    font-size: 40px;
    padding-left: 40px;
	border-right: 5px solid white;
	width: fit-content;
	bottom: 100px;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 2s steps(13) alternate infinite,
	cursor .4s step-end alternate infinite;
}

@keyframes typing{
	from{
		width: 0px;
	}
	to{
		width: 310px;
	}
	
}
@keyframes cursor{
	50%{
		border-color: transparent;
	}
}

/* about */
#about{
    background-color: black;
    color: gray;
    padding: 60px 80px 0px 80px;
}
.about-title{
    font-size: 40px;
}
.about-sub{
	color: white;
	padding-top: 10px;
	font-size: 20px;
}

/* project */
#project{
	background-color: black;
    color: gray;
	padding: 150px 80px 0px 80px;
}
.project-title{
	font-size: 40px;
}
.project-sub{
	color: white;
	padding-top: 10px;
	padding-bottom: 50px;
	font-size: 20px;
}
.project-list video{
	width: 660px;
}
.project-info{
	display: flex;
	flex-direction: column;
	padding-left: 30px;
}
.project-info h1{
	color: white;
	font-size: 70px;
	padding-top: 60px;
}
.project-info h2{
	font-size: 30px;
	padding-top: 20px;
}
.project-info a{
	font-size: 30px;
	padding-top: 50px;
	color: white;
	text-decoration-color: white;
	text-shadow: 0px 0px 9px white;
	width: fit-content;
}
.project-list1{
	display: flex;
}
.project-list2{
	display: flex;
	padding-top: 120px;
}
.project-list3{
	display: flex;
	padding-top: 120px;
}

/* contact */
#contact{
	background-color: black;
	padding: 150px 80px 90px 80px;
}
.contact-title{
	font-size: 40px;
	color: gray;
}
.contact-sub{
	color: white;
	padding-top: 10px;
	padding-bottom: 50px;
	font-size: 20px;
}
.list{
	display: flex;
	flex-direction: column;
	padding-bottom: 320px;
}
.list a{
	color: white;
	text-decoration-color: white;
	font-size: 20px;
	padding-top: 10px;
	width: fit-content;
}
.list a:hover{
	text-shadow: 0px 0px 9px white;
}
.contact p{
	color: white;
	font-size: 20px;
	width: fit-content;
}
.contact p:hover{
	animation: blinks .1s infinite;
}
@keyframes blinks{
	25%{color: black; background-color: white;}
	75%{color: black; background-color: white;}
}

/* credbar */
.credit{
   bottom: 0;
   width: 100%;
   color: gray;
   text-align: end;
   position: fixed;
}
.credit p{
	padding-right: 40px;
	padding-bottom: 10px;
}


/* media queries */

/* smartphone */
@media screen and (max-width:767px){
	/* navbar */
	.logo1{
		margin: 10px 0px 5px 0px;
		width: 40px;
	}
	.logo3{
		margin: 10px 20px 5px 9px;
		width: 40px;
	}
	.navbar a{
		display: none;
	}
	.navbar{
		display: flex;
		justify-content: flex-end;
	}

	/* hero */
	.hero{
		height: 700px;
	}

	/* about */
	#about{
		padding-left: 50px;
		padding-right: 50px;
	}

	/* project */
	#project{
		padding-left: 50px;
		padding-right: 50px;
	}
	.project-info{
		display: flex;
		flex-direction: column;
		width: 360px;
		padding-left: 0;
	}
	.project-info h1{
		font-size: 35px;
		padding-top: 10px;
	}
	.project-info h2{
		font-size: 25px;
		padding-top: 10px;
	}
	.project-info a{
		font-size: 20px;
		padding-top: 25px;
	}
	.project-list video{
		width: 360px;
	}
	.project-list1{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.project-list2{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 70px;
	}
	.project-list3{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 70px;
	}

	/* contact */
	#contact{
		padding-left: 50px;
		padding-right: 50px;
	}

	/* credbar */
	.credit p{
		padding-right: 20px;
	}
}